<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="collegefool.getup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstInputActivity" />
        <activity android:name=".SecondInputActivity" />
        <activity android:name=".ThirdInputActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SetActivity"></activity>
    </application>

</manifest>